.navigationItem {
  composes: flexCenter from "../../custom.module.css";
  width: 80%;
  height: 24px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  margin: 8px 0px;
  color: var(--nimbus);
}

.navigationItem:hover {
  color: white;
}

.activeNavigationItem, .activeNavigationItem:hover {
  background-color: var(--greyRussian);
}

