.dashboard {
    display: grid;
    grid-template-columns: minmax(150px, 20%) 1fr;
    grid-template-areas: "sidebar content";
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}