:root {
  --blackRussian: #030917;
  --java: #02c2c6;
}

body {
  margin: 0;
  background-color: var(--blackRussian);
  color: white;
  font-family: "Lato";

}

input {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
