:root {
  --forestGateau: rgb(19, 22, 20);
  --java: #02c2c6;
  --blackRussian: #171817;
  --daquoise: #3bffa1;
  --nimbus: #363636;
}

body {
  margin: 0;
  background-color: var(--blackRussian);
  color: white;
  font-family: "Mulish";

}

input {
  box-sizing: border-box;
}

