:root {
  /* main body background color */
  --forestGateau: rgb(19, 22, 20);
  /* welcome screen & sidebar background color */
  --blackRussian: #171817;
  /* sidebar button hover */
  --greyRussian: #232423;
  --daquoise: #3bffa1;
  --nimbus: #c5c9cc;
}

body {
  margin: 0;
  background-color: var(--blackRussian);
  color: white;
  font-family: "Mulish";
}

input {
  box-sizing: border-box;
}

.iconContainer {
  margin-right: 4px;
}
